html {
  font-size: 62.5%;
}

body {
  width: 980px;
  margin: 0 auto;
  background-color: #46322d;
}

/* ----------header--------- */

.header {
  height: 60px;
  background-color: #341a14;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline;
}

.header ul li a {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #c85a42;
  text-decoration: none;
  padding: 0 20px;
}

.left-menu {
  float: left;
  margin: 20px 0;
}

.right-menu {
  float: right;
  margin: 20px 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ----------header--------- */

h1 {
  font-size: 4rem;
  color: #c85a42;
  text-align: center;
}

.main_image {
  width: 100%;
}

h2 {
  font-size: 2rem;
  color: #e8dedc;
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-box {
  background-color: #341a14;
  height: 300px;
  width: 280px;
  float: left;
}

.hobby {
  margin-left: 30px;
}
